<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Vue 2</title>
  </head>
  <body>
    <div id="app">
      <div class="container" style="margin-top: 2rem;">
        <div class="row">
          <h1 style="margin-bottom: 2rem;" class="center">Campeonato Brasileiro 2018 - Série A</h1>

          <br><br>

          <table class="table table-striped">
            <thead>
              <tr>
                <td></td>
                <td>Time</td>
                <td>Pontos</td>
                <td>GM</td>
                <td>GS</td>
                <td>Saldo</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(time, index) in times">
                <td>{{ index + 1}}º</td>
                <td>
                  <img :src="time.escudo" :alt="time.nome" style="width: 30px; height: 30px;">
                  {{ time.nome }}
                </td>
                <td> {{ time.pontos }} </td>
                <td> {{ time.gm }} </td>
                <td> {{ time.gs }} </td>
                <td> {{ time.gm - time.gs }} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" v-model="novoJogo.casa.gols">
                <label class="control-label">
                    {{ novoJogo.casa.time.nome }} 
                    <img :src="novoJogo.casa.time.escudo" style="height: 30px; width: 30px;"> 
                </label>
            </div>
            <span>X</span>
            <div class="form-group">
                <label class="control-label"> 
                    <img :src="novoJogo.fora.time.escudo" style="height: 30px; width: 30px;">
                    {{ novoJogo.fora.time.nome}} 
                </label>
                <input type="text" class="form-control" v-model="novoJogo.fora.gols">
            </div>
            <button type="button" class="btn btn-primary" @click="fimDeJogo">Fim de jogo</button>
          </form>
        </div>
      </div>
    </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
